body{
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}

.wrapper{
     flex:1;
   }

P{
    margin: 0;
    padding: 0;
}


::-webkit-scrollbar {
    background: #2c3f53;
    width: 5px;
  }

::-webkit-scrollbar-thumb{
    background: grey;
}

.media_height{
    height: 650px;
}

.media_height_inner_col{
    height: 325px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.media_height_analysis{
    height: 650px;
}

.mobile_table{
    max-height: 150px;
}

.media_graph{
    height: 650px;
}

@media only screen and (max-width: 991px){
    .media_height_inner_col{
        height: auto;
    }

    .media_height{
        height: auto;
    }

    .media_height_analysis{
        height: auto;
    }

    .mobile_table{
        max-height: 250;
    }

    .media_graph{
        height: 500px;
    }
}
